/* Reset for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styling */
  body {
    font-family: Arial, sans-serif;
    background-color: #d1f283;
    color: #333;
    margin: 0;
    /* Flexbox is removed from the body */
    display: block;
    
  }
  
  /* Container for centered content */
  .main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 60px); /* Adjust for navbar height */
    text-align: center;
   
    margin-top: 900px;
  }
  /* Add padding to each section to ensure it scrolls correctly */
section {
  padding-top: 80px; /* Adjust based on your navbar height */
  margin-top: -50px; /* Compensates for the padding added */
}

  /* Heading styles */
  h1, h2, h3 {
    color: #116bab;
    margin-bottom: 50px;

  }

  p{
    text-align: center;
    margin-bottom: 20px;
    font-size: larger;
    color: #000;
  }
  /* Add padding to each section to ensure it scrolls correctly */

  
  /* Ensure the image is responsive */
 .wrapper{
  margin: 60px;
 }

