/* Hero Section */
.hero {
  position: relative;
  width: 100%;
  min-height: 100vh; /* Ensures the section spans at least the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden; /* Prevents any overflow from the image */
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensures the image spans the full width of the container */
  height: 100%; /* Ensures the image spans the full height of the container */
  object-fit: cover; /* Fills the container while maintaining aspect ratio */
  z-index: -1; /* Places the image behind other content */
}

.hero-text {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#hero-qoute {
  font-size: 2rem;
  font-weight: bold;
  color: #d1f283;
  margin-top: 60px;
}
